body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

main{
    display: block;
    width: 450px;
    margin: 0 auto;
    padding: 1.5em;
    background: white;
    border: 2px solid navy;
}

h1{
    color:navy;
}

li{
    padding: 5px;
}

label{
    width: 10em;
    padding-right: 1em;
    float: left;
}


#data_input{
    float: left;
    width: 15em;
    margin-bottom: .5em;
}



td{
    padding: 10px;
    border-style: solid;
}

#data_span{
    padding-left: .25em;
}

#buttons input{
    float: left;
    margin-bottom: .5em;
}

br{
    clear: left;
}